.header {
    /*background-color: #0b066d;*/
}

.innerHeader {
    align-items: center;
    padding: 30px 20px 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 50px;
    max-width: var(--max-width);
    margin: 0 auto;
}

.brandContainer {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    gap: 10px;
    padding-right: 50px;
    font-family: var(--heading-font);
}

.logo {
    font-size: 2em;
}

.nav {
    display: flex;
    gap: 25px;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}