.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
}

.product-card__image-container {
    height: 305px;
    width: auto;
    overflow: hidden;
}

.product-card--skeleton .product-card__image-container {
    width: 240px;
    background-color: purple;
}

.product-card__image {
    height: 100%;
}

.product-card--skeleton .product-card__image-container img {
    opacity: 0;
}

.product-card__name {
    font-size: 1.3em;
    line-height: 1.5;
    white-space: nowrap;
}

.product-card--skeleton .product-card__name {
    background-color: purple;
}

.product-card--skeleton .product-card__name a {
    color: transparent;
}

.product-card__price {
    font-size: 1.2em;
    line-height: 1.5;
}

.product-card--skeleton .product-card__price {
    color: transparent;
    background-color: purple;
}
