.product-card {
    --light-orange: #FDD835;
    --dark-orange: #F57F17;
    --highlight: var(--light-orange);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
    overflow: hidden;
}

.product-card:hover {
    background-color: whitesmoke;
    transition: background-color ease-in 200ms;
}

.product-cached:hover {
    background-color: lightyellow;
}

.product-card__image-container {
    height: 305px;
    width: auto;
    overflow: hidden;
}

.product-card--skeleton .product-card__image-container {
    width: 240px;
    background-color: purple;
}

.product-card__image {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product-card--skeleton .product-card__image-container img {
    opacity: 0;
}

.product-card__name {
    font-size: 1.3em;
    line-height: 1.5;
    white-space: nowrap;
}

.product-card--skeleton .product-card__name {
    background-color: purple;
}

.product-card--skeleton .product-card__name a {
    color: transparent;
}

.product-card__price {
    font-size: 1.2em;
    line-height: 1.5;
}

.product-card--skeleton .product-card__price {
    color: transparent;
    background-color: purple;
}

.product-cached {
    outline: 1px solid var(--highlight);
}

.product-card-cached-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
}